<div id="<%= dom_id doctor_profile %>">
  <p>
    <strong>Doctor:</strong>
    <%= doctor_profile.doctor_id %>
  </p>

  <p>
    <strong>Names:</strong>
    <%= doctor_profile.names %>
  </p>

  <p>
    <strong>Last names:</strong>
    <%= doctor_profile.last_names %>
  </p>

  <p>
    <strong>Identification type:</strong>
    <%= doctor_profile.identification_type_id %>
  </p>

  <p>
    <strong>Identification:</strong>
    <%= doctor_profile.identification %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= doctor_profile.sex %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= doctor_profile.birthdate %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= doctor_profile.phone %>
  </p>

</div>
