<div id="<%= dom_id user_profile %>">
  <p>
    <strong>User:</strong>
    <%= user_profile.user_id %>
  </p>

  <p>
    <strong>Names:</strong>
    <%= user_profile.names %>
  </p>

  <p>
    <strong>Last names:</strong>
    <%= user_profile.last_names %>
  </p>

  <p>
    <strong>Identification type:</strong>
    <%= user_profile.identification_type_id %>
  </p>

  <p>
    <strong>Identification:</strong>
    <%= user_profile.identification %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= user_profile.sex %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= user_profile.birthdate %>
  </p>

</div>
