<%= form_with(model: patient_profile) do |form| %>
  <% if patient_profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patient_profile.errors.count, "error") %> prohibited this patient_profile from being saved:</h2>

      <ul>
        <% patient_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :patient_id, style: "display: block" %>
    <%= form.text_field :patient_id %>
  </div>

  <div>
    <%= form.label :names, style: "display: block" %>
    <%= form.text_field :names %>
  </div>

  <div>
    <%= form.label :last_names, style: "display: block" %>
    <%= form.text_field :last_names %>
  </div>

  <div>
    <%= form.label :identification_type_id, style: "display: block" %>
    <%= form.text_field :identification_type_id %>
  </div>

  <div>
    <%= form.label :identification, style: "display: block" %>
    <%= form.number_field :identification %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :sex, style: "display: block" %>
    <%= form.check_box :sex %>
  </div>

  <div>
    <%= form.label :birthdate, style: "display: block" %>
    <%= form.date_field :birthdate %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
