<%= form_with(model: patient_profile) do |form| %>
  <% if patient_profile.errors.any? %>
    <div style="color: red">
      <h2>Error al guardar</h2>
      <ul>
        <% patient_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="uk-fieldset">
    <%= form.text_field :names, placeholder: "Nombres", class: "uk-input uk-margin-bottom" %>
    <%= form.text_field :last_names, placeholder: "Apellidos", class: "uk-input uk-margin-bottom" %>
    <uk-select name="patient_profile[identification_type_id]"
      placeholder="Seleccione un Tipo de Identificacíon" uk-cloak>
      <% @identification_types.each do |i| %>
        <option value="<%= i.id %>"><%= i.long_name %></option>
      <% end %>
    </uk-select>
    <%= form.number_field :identification, placeholder: "Identificacíon", class: "uk-input uk-margin-bottom uk-margin-top" %>
    <%= form.text_field :address, placeholder: "Direccíon", class: "uk-input uk-margin-bottom" %>
    <%= form.text_field :phone, placeholder: "Telefono", class: "uk-input uk-margin-bottom" %>
    <uk-select name="patient_profile[sex]"
      placeholder="Seleccione su sexo" uk-cloak>
      <option value="0">Hombre</option>
      <option value="1">Mujer</option>
    </uk-select>
    <div class="uk-margin-top uk-flex uk-flex-column">
      <%= form.label :birthdate, "Fecha de Nacimiento", class: "uk-text-small uk-margin-small-bottom" %>
      <%= form.date_field :birthdate, class: "uk-input uk-margin-bottom" %>
    </div>
    <div class="uk-text-center">
      <%= form.submit "Completar Perfil", class: "uk-button uk-button-primary uk-margin-bottom" %>
    </div>
  </fieldset>
<% end %>
