<div id="<%= dom_id patient_profile %>">
  <p>
    <strong>Patient:</strong>
    <%= patient_profile.patient_id %>
  </p>

  <p>
    <strong>Names:</strong>
    <%= patient_profile.names %>
  </p>

  <p>
    <strong>Last names:</strong>
    <%= patient_profile.last_names %>
  </p>

  <p>
    <strong>Identification type:</strong>
    <%= patient_profile.identification_type_id %>
  </p>

  <p>
    <strong>Identification:</strong>
    <%= patient_profile.identification %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient_profile.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= patient_profile.phone %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= patient_profile.sex %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= patient_profile.birthdate %>
  </p>

</div>
