<p style="color: green"><%= notice %></p>

<%= render @patient_profile %>

<div>
  <%= link_to "Edit this patient profile", edit_patient_profile_path(@patient_profile) %> |
  <%= link_to "Back to patient profiles", patient_profiles_path %>

  <%= button_to "Destroy this patient profile", @patient_profile, method: :delete %>
</div>
