<table class="uk-table">
  <thead>
    <tr>
      <th>Doctor</th>
      <th>Especialidad</th>
      <th>Centro de Salud</th>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= "#{appointment.doctor.names} #{appointment.doctor.last_names}" %>
      </td>
      <td>
        <%= appointment.specialty.name %>
      </td>
      <td>
        <%= appointment.health_center.name %> <br/>
        <%= appointment.health_center.address %>
      </td>
      <td>
        <%= I18n.l(appointment.date_time, format: :long) %>
      </td>
    </tr>
  </tbody>
</table>