<%= render layout: "layouts/positioner", locals: { title: "Detalle" } do %>
  <div id="<%= dom_id @appointment %>" class="uk-card">
    <div class="uk-card-body">
      <%= render @appointment %>
    </div>
    <div class="uk-card-footer uk-flex uk-flex-between">
      <%= link_to "Regresar", appointments_path, class: "uk-button uk-button-default" %>
      <%= button_to "Eliminar Cita Medica", @appointment, method: :delete, class: "uk-button uk-button-danger" %>
    </div>
  </div>
<% end %>
