<div id="<%= dom_id test %>">
  <p>
    <strong>Title:</strong>
    <%= test.title %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= test.patient_id %>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= test.doctor_id %>
  </p>

  <p>
    <strong>Date time:</strong>
    <%= test.date_time %>
  </p>

  <p>
    <strong>Results:</strong>
    <%= test.results %>
  </p>

</div>
